<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit="addNewTodo" action="">
      <label for="new-todo">ADD A TODO</label>
      <input 
        v-model="newTodoText"
        type="text" 
        id="new-todo"
        placeholder="E.g. Feed the cat"
      >
      <button>Add</button>
    </form>
    <ul>
      <todo-item 
        v-for="todo in todos" 
        :key="todo.id" 
        :todo="todo"
        @on-remove="onRemove"
      />
    </ul>
  </div>
  <script>
    function getId() {
      return `${Date.now()}${Math.random()}`
    }

    const TodoItem = {
      template: `
        <li>
          {{ todo.title }}
          <button @click="$emit('on-remove', todo.id)">❌</button>
        </li>
      `,
      props: ['todo']
    }
    const App = {
      components: {
        TodoItem
      },
      data() {
        return {
          newTodoText: '',
          todos: []
        }
      },
      methods: {
        addNewTodo(e) {
          e.preventDefault();
          this.todos.push({
            id: getId(),
            title: this.newTodoText
          })
          this.newTodoText = ''
          console.log(this.todos)
        },
        onRemove(id) {
          console.log("id", id);
          this.todos = this.todos.filter(todo => todo.id !== id);
        }
      }
    }

    const vm = Vue.createApp(App).mount('#app');
  </script>
</body>
</html>