doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Zoom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
  body
    header
      h1 ZOOM
    main
      div#welcome
        form
          input(placeholder="방 이름을 입력하세요!", required, type="text")#room-input
          input(placeholder="nickname", required, type="text")#nickname-input
          button 방 입장하기
        h4 Open Rooms:
        ul

      div#room
        //- playsInline: 모바일 브라우저가 필요로하는 property.
        //- article#my-stream
        //-   video#my-face(autoplay, playsInline, width="400", height="400")
        //-   button#mute-btn 음소거
        //-   button#camera-btn 카메라 끄기
        //- video#peer-face(autoplay, playsInline, width="400", height="400")
        h3
        ul 
        form#msg
          input(placeholder="message", required, type="text")
          button 메시지 전송
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
    script(src="/public/js/video.js")